@import '//at.alicdn.com/t/font_241505_eos59ikvcwok1emi.css';
html,
body,
:global(#root) {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-layout {
    min-height: 100vh;
    overflow-x: hidden;
}
.screen-xl {
    min-height: 100vh;
    overflow-x: hidden;
}
.cur {
    cursor: pointer;
}
.f20 {
    font-size: 20px;
}
.f30 {
    font-size: 30px;
}
.globalSpin {
    width: 100%;
    margin: 40px 0 !important;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-15{
    margin-top: 15px;
}

.hideSelectAll .ant-table-thead .ant-checkbox-inner{
    display: none;
}